* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
    font-size: 2vw;
}

section, #side, #game, #display {
    display: flex;
}

#side {
    flex-basis: 15%;
    flex-direction: column;
    text-align: center;
    border: 1px black solid;
}

p {
    padding : 1rem;
}

#side div {
    display: flex;
}

#letter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#letter a {
    font-size: 2.5vw;
    width: 30%;
    padding: 1vh 0;
    margin: .25rem;
    text-decoration-line: none;
}

#letter a:hover {
    font-weight: bold;
    background-color: darkgrey;
    color: white;
}

#game, #display {
    flex-basis: 85%;
}

#display {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

#display div {
    width: 50%;
    margin: 0 auto;
}

#hangMan {
    background-color: teal;
    background-image: url("img/pendu-10.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 50%;
}

#usedLetter, #word, #display {
    text-align: center;
}

#usedLetter {
    flex-basis: 15%;
}

