* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
    font-size: 2vw;
    text-align: center;
}

main {
    padding: 1rem;
}

section, #side, #side div, #sideBtn, #game,
#display, #word, #usedLetter, #usedLetter div, #btn {
    display: flex;
}

#side {
    position: relative;
    flex-basis: 15%;
    flex-direction: column;
    border: 1px black solid;
}

p {
    padding : 1rem;
}

#letter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration-line: none;
}

#letter a {
    font-size: 2.5vw;
    width: 30%;
    padding: 1vh 0;
    margin: .25rem;
}

#letter a:hover {
    font-weight: bold;
    background-color: darkgrey;
    color: black;
}

#game, #display {
    flex-basis: 85%;
}

#display {
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#hangMan {
    width: 45%;
    background-color: teal;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 45%;
}

#word div {
    width: 3vw;
    height: 6vh;
    margin: .5rem;
    font-size: 3vw;
    border-bottom: black 3px solid;
}

#usedLetter {
    flex-basis: 20%;
    flex-direction: column;
}

#usedLetter > div {
    flex-basis: 33%;
}

#wrongLetter {

}

#btn {
    width: 100%;
    flex-basis: 30%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#btn div {
    flex-basis: 33%;
    justify-content: center;
    align-items: baseline;
}

.startBtn, #goOne {
    background-color: teal;
    color: white;
    border-radius: 15px;
    padding: 1rem;
    width: 50%;
    margin: auto;
}

#sideBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff99;
}

#goOne {
    display: none;
}

#btn span {
    /*visibility: hidden;*/
    flex-basis: 33%;
}

