* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
    font-size: 2vw;
    text-align: center;
}

main {
    padding: 1rem;
}

section, #side, #game, #display, #word, #usedLetter, #btn {
    display: flex;
}

#side {
    flex-basis: 15%;
    flex-direction: column;
    border: 1px black solid;
}

p {
    padding : 1rem;
}

#side div {
    display: flex;
}

#letter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration-line: none;
}

#letter a {
    font-size: 2.5vw;
    width: 30%;
    padding: 1vh 0;
    margin: .25rem;

}

#letter a:hover {
    font-weight: bold;
    background-color: darkgrey;
    color: black;
}

#game, #display {
    flex-basis: 85%;
}

#display {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#word {
    align-items: baseline;
}

#word div {
    width: 3vw;
    margin: .5rem;
    font-size: 3vw;
    border-bottom: black 3px solid;
}

#hangMan {
    position: relative;
    width: 45%;
    background-color: teal;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 45%;
}

#usedLetter {
    flex-basis: 20%;
    flex-direction: column;
}

#usedLetter div {
    flex-basis: 70%;
}

#btn {
    width: 90%;
    justify-content: space-evenly;
}

#btn a {
    background-color: teal;
    color: white;
    padding: .5rem 1rem;
    border-radius: 15px;
    width: 25%;
}

#letter a{
    visibility: hidden;
}
